:root {
  --mdui-color-primary: var(--md-sys-color-primary);
  --mdui-color-primary-container: var(--md-sys-color-primary-container);
  --mdui-color-on-primary: var(--md-sys-color-on-primary);
  --mdui-color-on-primary-container: var(--md-sys-color-on-primary-container);
  --mdui-color-inverse-primary: var(--md-sys-color-inverse-primary);
  --mdui-color-secondary: var(--md-sys-color-secondary);
  --mdui-color-secondary-container: var(--md-sys-color-secondary-container);
  --mdui-color-on-secondary: var(--md-sys-color-on-secondary);
  --mdui-color-on-secondary-container: var(--md-sys-color-on-secondary-container);
  --mdui-color-tertiary: var(--md-sys-color-tertiary);
  --mdui-color-tertiary-container: var(--md-sys-color-tertiary-container);
  --mdui-color-on-tertiary: var(--md-sys-color-on-tertiary);
  --mdui-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container);
  --mdui-color-surface: var(--md-sys-color-surface);
  --mdui-color-surface-dim: var(--md-sys-color-surface-dim);
  --mdui-color-surface-bright: var(--md-sys-color-surface-bright);
  --mdui-color-surface-container-lowest: var(--md-sys-color-surface-container-lowest);
  --mdui-color-surface-container-low: var(--md-sys-color-surface-container-low);
  --mdui-color-surface-container: var(--md-sys-color-surface-container);
  --mdui-color-surface-container-high: var(--md-sys-color-surface-container-high);
  --mdui-color-surface-container-highest: var(--md-sys-color-surface-container-highest);
  --mdui-color-surface-variant: var(--md-sys-color-surface-variant);
  --mdui-color-on-surface: var(--md-sys-color-on-surface);
  --mdui-color-on-surface-variant: var(--md-sys-color-on-surface-variant);
  --mdui-color-inverse-surface: var(--md-sys-color-inverse-surface);
  --mdui-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface);
  --mdui-color-background: var(--md-sys-color-background);
  --mdui-color-on-background: var(--md-sys-color-on-background);
  --mdui-color-error: var(--md-sys-color-error);
  --mdui-color-error-container: var(--md-sys-color-error-container);
  --mdui-color-on-error: var(--md-sys-color-on-error);
  --mdui-color-on-error-container: var(--md-sys-color-on-error-container);
  --mdui-color-outline: var(--md-sys-color-outline);
  --mdui-color-outline-variant: var(--md-sys-color-outline-variant);
  --mdui-color-shadow: var(--md-sys-color-shadow);
  --mdui-color-surface-tint-color: var(--md-sys-color-surface-tint-color);
  --mdui-color-scrim: var(--md-sys-color-scrim);
}
