:root {
  --mdui-shape-corner-none: 0;
  --mdui-shape-corner-extra-small: 4px;
  --mdui-shape-corner-small: 8px;
  --mdui-shape-corner-medium: 12px;
  --mdui-shape-corner-large: 16px;
  --mdui-shape-corner-extra-large: 28px;
  --mdui-shape-corner-full: 16000px;
}
