:root {
  --mdui-typescale-display-large-weight: 400;
  --mdui-typescale-display-medium-weight: 400;
  --mdui-typescale-display-small-weight: 400;
  --mdui-typescale-display-large-line-height: 64px;
  --mdui-typescale-display-medium-line-height: 52px;
  --mdui-typescale-display-small-line-height: 44px;
  --mdui-typescale-display-large-size: 57px;
  --mdui-typescale-display-medium-size: 45px;
  --mdui-typescale-display-small-size: 36px;
  --mdui-typescale-display-large-tracking: 0px;
  --mdui-typescale-display-medium-tracking: 0px;
  --mdui-typescale-display-small-tracking: 0px;
  --mdui-typescale-headline-large-weight: 400;
  --mdui-typescale-headline-medium-weight: 400;
  --mdui-typescale-headline-small-weight: 400;
  --mdui-typescale-headline-large-line-height: 40px;
  --mdui-typescale-headline-medium-line-height: 36px;
  --mdui-typescale-headline-small-line-height: 32px;
  --mdui-typescale-headline-large-size: 32px;
  --mdui-typescale-headline-medium-size: 28px;
  --mdui-typescale-headline-small-size: 24px;
  --mdui-typescale-headline-large-tracking: 0px;
  --mdui-typescale-headline-medium-tracking: 0px;
  --mdui-typescale-headline-small-tracking: 0px;
  --mdui-typescale-title-large-weight: 400;
  --mdui-typescale-title-medium-weight: 500;
  --mdui-typescale-title-small-weight: 500;
  --mdui-typescale-title-large-line-height: 28px;
  --mdui-typescale-title-medium-line-height: 24px;
  --mdui-typescale-title-small-line-height: 20px;
  --mdui-typescale-title-large-size: 22px;
  --mdui-typescale-title-medium-size: 16px;
  --mdui-typescale-title-small-size: 14px;
  --mdui-typescale-title-large-tracking: 0px;
  --mdui-typescale-title-medium-tracking: 0.15px;
  --mdui-typescale-title-small-tracking: 0.1px;
  --mdui-typescale-label-large-weight: 500;
  --mdui-typescale-label-medium-weight: 500;
  --mdui-typescale-label-small-weight: 500;
  --mdui-typescale-label-large-line-height: 20px;
  --mdui-typescale-label-medium-line-height: 16px;
  --mdui-typescale-label-small-line-height: 6px;
  --mdui-typescale-label-large-size: 14px;
  --mdui-typescale-label-medium-size: 12px;
  --mdui-typescale-label-small-size: 11px;
  --mdui-typescale-label-large-tracking: 0.1px;
  --mdui-typescale-label-medium-tracking: 0.5px;
  --mdui-typescale-label-small-tracking: 0.5px;
  --mdui-typescale-body-large-weight: 400;
  --mdui-typescale-body-medium-weight: 400;
  --mdui-typescale-body-small-weight: 400;
  --mdui-typescale-body-large-line-height: 24px;
  --mdui-typescale-body-medium-line-height: 20px;
  --mdui-typescale-body-small-line-height: 16px;
  --mdui-typescale-body-large-size: 16px;
  --mdui-typescale-body-medium-size: 14px;
  --mdui-typescale-body-small-size: 12px;
  --mdui-typescale-body-large-tracking: 0.15px;
  --mdui-typescale-body-medium-tracking: 0.25px;
  --mdui-typescale-body-small-tracking: 0.4px;
}
